<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
    <form action="">
      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" value="yash" /><br />
      <label for="password">Password :</label><br />
      <input type="text" id="password" name="password" value="123456" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
  <script>
    $(document).ready(function() {
      console.log("Welcome");
    });
  </script>
</html>
