<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  </head>
  <style>
    .error {
      color: red;
    }
  </style>
  <body>
    <div class="container-fluid p-5 bg-primary text-white text-center">
      <h1>API Abuse Example</h1>
      <h3>Validation and Limiter</h3>
    </div>
    <div class="container mb-5">
      <div class="container mt-5 border p-2">
        <h1 class="ul">Simple Login API</h1>
        <hr />
        <div class="row">
          <div class="col-sm-5">
            <form id="loginFormOne">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="emailOne" name="emailOne" value="yash@gmail.com" />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="passwordOne" name="passwordOne" value="Yash1234$" />
                </div>
              </div>
              <div class="col-auto"><input type="submit" class="btn btn-primary mb-3" value="Submit" /></div>
            </form>
          </div>
          <div class="col-sm-7">
            <h3>Output of API Call</h3>
            <div class="border p-2"><pre id="messageOne"></pre></div>
          </div>
        </div>
      </div>
      <div class="container mt-5 border p-2">
        <h1 class="ul">SQL Injection Login API</h1>
        <hr />
        <div class="row">
          <div class="col-sm-5">
            <form id="loginFormTwo">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="emailTwo" name="emailTwo" value="yash@gmail.com" />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="passwordTwo" name="passwordTwo" value="'or'1=1" />
                </div>
              </div>
              <div class="col-auto"><input type="submit" class="btn btn-primary mb-3" value="Submit" /></div>
            </form>
          </div>
          <div class="col-sm-7">
            <h3>Output of API Call</h3>
            <div class="border p-2"><pre id="messageTwo"></pre></div>
          </div>
        </div>
      </div>
      <div class="container mt-5 border p-2">
        <h1 class="ul">Brute Force Attack Login API</h1>
        <hr />
        <div class="row">
          <div class="col-sm-5">
            <form id="loginFormThree">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="emailThree" name="email" value="abc@gmail.com" />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="passwordThree"
                    name="password"
                    aria-label="Disabled input example"
                    disabled
                    readonly
                  />
                </div>
              </div>
              <div class="col-auto"><input type="submit" class="btn btn-primary mb-3" value="Submit" /></div>
              <p id="passwordCount"></p>
            </form>
          </div>
          <div class="col-sm-7">
            <h3>Output of API Call</h3>
            <div class="border p-2"><pre id="messageThree"></pre></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function() {
      // Validation method for regex Email Address
      $.validator.addMethod(
        "email",
        function(value, element) {
          return this.optional(element) || /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/i.test(value);
        },
        "Please enter a valid email address."
      );

      // Validation method for regex Password
      $.validator.addMethod(
        "password",
        function(value, element) {
          return (
            this.optional(element) ||
            /^(?!.*')(?!.*")(?!.*=)(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,16}$/i.test(value)
          );
        },
        "Password must contain one digit from 1 to 9, one lowercase letter, one uppercase letter, one special character, no space, and it must be 8-16 characters long. Don't use ' \" = as special characters."
      );

      // Simple API call for Login
      $("#loginFormOne").on("submit", function(e) {
        e.preventDefault();

        $(this).validate({
          rules: {
            emailOne: {
              required: true,
              email: true
            },
            passwordOne: {
              required: true,
              password: true
            }
          },
          messages: {
            emailOne: {
              required: "Email is required"
            },
            passwordOne: {
              required: "Password is required"
            }
          },
          submitHandler: function(form) {
            var email = $("#emailOne").val();
            var password = $("#passwordOne").val();

            $.ajax({
              url: "http://localhost:5000/api/users/login",
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              data: JSON.stringify({ email, password }),
              success: function(response, status) {
                $("#messageOne").text(JSON.stringify(response, null, 3));
              }
            });
          }
        });
      });

      // SQL Injection API call for Login
      $("#loginFormTwo").on("submit", function(e) {
        e.preventDefault();

        $(this).validate({
          rules: {
            emailTwo: {
              required: true,
              email: true
            },
            passwordTwo: {
              required: true,
              password: true
            }
          },
          messages: {
            emailTwo: {
              required: "Email is required"
            },
            passwordTwo: {
              required: "Password is required"
            }
          },
          submitHandler: function(form) {
            var email = $("#emailTwo").val();
            var password = $("#passwordTwo").val();

            $.ajax({
              url: "http://localhost:5000/api/users/login",
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              data: JSON.stringify({ email, password }),
              success: function(response, status) {
                $("#messageTwo").text(JSON.stringify(response, null, 3));
              }
            });
          }
        });
      });

      // Brute Force attack API call for Login
      $("#loginFormThree").on("submit", function(e) {
        e.preventDefault();
        bruteForceAttack(generateNumberStrings());
      });

      function bruteForceAttack(password, counter = 0) {
        var email = $("#emailThree").val();
        $.ajax({
          url: "http://localhost:5000/api/users/bruteForceLogin",
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          data: JSON.stringify({ email, password }),
          success: function(response, status) {
            // console.log(response);
            $("#passwordThree").val(password);
            $("#messageThree").text(JSON.stringify(response, null, 3));
            if (!(response.status == true || response.status == "true")) {
              counter++;
              password = generateNumberStrings();
              setTimeout(() => {
                bruteForceAttack(password, counter);
              }, 2000);
            }
            $("#passwordCount").text(`Before correct password, total password used :: ${counter}`);
          }
        });
      }

      function getRandomDigit() {
        return Math.floor(Math.random() * 10); // Generates a random digit between 0 and 9
      }

      function generateNumberStrings(n) {
        let result = "";

        for (let i = 1; i <= 6; i++) {
          result += getRandomDigit().toString();
        }
        return result;
      }
    });
  </script>
</html>
